<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);" onclick="return false;">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/adm-app/csr-form'"
            routerLinkActive="active">Create CSR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/adm-app/verify-csr'"
            routerLinkActive="active">Verify CSR</a>
        </li>
      </ul>
      <ul class="navbar-nav me-rigth mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/adm-app/login'"
            routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>