<div class="center marg">
    <h2>Certificate signing</h2>
    <app-csr-viewer [csr]="csr"></app-csr-viewer>

    <h4>Template</h4>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rad" id="r1" (click)="selectCa()" checked>
        <label class="form-check-label" for="r1">
            CA
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rad" id="r2" (click)="selectSslServer()">
        <label class="form-check-label" for="r2">
            SSL Server
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rad" id="r3" (click)="selectSslClient()">
        <label class="form-check-label" for="r3">
            SSL Client
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rad" id="r4" (click)="selectCodeSigning()">
        <label class="form-check-label" for="r4">
            Code Signing
        </label>
      </div>

      <div *ngIf="ca">
        
      </div>

      <div *ngIf="sslServer">
        
      </div>

      <div *ngIf="sslClient">
        
      </div>

      <div *ngIf="codeSigning">
        
      </div>
</div>