<div class="center">
    <h4>CSR data</h4>
    <table class="table table-bordered">
      <thead>
        <th>Email</th>
        <th>Common name</th>
        <th>Organization</th>
        <th>Organization unit</th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ csr.email }}</td>
          <td>{{ csr.commonName }}</td>
          <td>{{ csr.organization }}</td>
          <td>{{ csr.organizationUnit }}</td>
          <td>{{ csr.country }}</td>
          <td>{{ csr.state }}</td>
          <td>{{ csr.city }}</td>
        </tr>
      </tbody>
    </table>
</div>
