<div class="center">
  <h2>Verified certificate signing requests</h2>

  <table class="table">
    <thead>
      <th>Common name</th>
      <th>Organization</th>
      <th>Email</th>
      <th>Country</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let csr of csrs">
        <td>{{ csr.commonName }}</td>
        <td>{{ csr.organization }}</td>
        <td>{{ csr.email }}</td>
        <td>{{ csr.country }}</td>
        <td>
          <a type="button" class="btn btn-dark" [routerLink]="'/adm-app/certificate-signing/' + csr.id">
            Examine
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>