<form class="row p-4 align-items-center justify-content-center" [formGroup]="searchFormGroup"
    (keydown.enter)="$event.preventDefault()">
    <div class="col-4 align-items-center justify-content-center">
        <mat-form-field class="example-form-field" appearance="fill" style="width: 100%">
            <mat-label>Search</mat-label>
            <input id="searchFieldInput" matInput type="text" formControlName="searchField">
            <button id="clearSearchField" *ngIf="searchFormGroup.controls['searchField'].value" matSuffix
                mat-icon-button aria-label="Clear" (click)="searchFormGroup.controls['searchField'].setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <small *ngIf="(searchFormGroup.controls['searchField'].touched || searchFormGroup.controls['searchField'].dirty) 
                         &&
                       searchFormGroup.controls['searchField'].errors?.['invalidUsername']">Invalid search input
        </small>
    </div>
    <div class="col-2" style="margin-left: 0px;">
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select formControlName="userType">
                <mat-option value="all">Any</mat-option>
                <mat-option value="ROLE_OWNER">Owner</mat-option>
                <mat-option value="ROLE_TENANT">Tenant</mat-option>
                <mat-option value="ROLE_BOTH">Owner and Tenant</mat-option>
                <mat-option value="ROLE_UNASSIGNED">Unassigned</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-2" style="margin-left: 0px;">
        <mat-form-field appearance="fill">
            <mat-label>Verified</mat-label>
            <mat-select formControlName="verified">
                <mat-option value="all">Any</mat-option>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-2" style="margin-left: 0px;">
        <mat-form-field appearance="fill">
            <mat-label>Locked</mat-label>
            <mat-select formControlName="locked">
                <mat-option value="all">Any</mat-option>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
<div class="row" style="margin-top: 50px; margin-left: 40px;">
    <h2 *ngIf="users.length == 0"> Search has no results. </h2>
    <div *ngFor="let user of users" class="col">
        <app-app-user-card (renderList)="renderList()" [user]="user" (assignEstate)="assignEstate($event)"
            (showUserEstate)="showUserEstate($event)"></app-app-user-card>
    </div>
</div>
<div *ngIf="users.length != 0" class="row" style="margin-top: 50px; margin-left: 50px;">
    <app-pagination class='pagination' [totalItems]="totalSize" [pageSize]="pageSize"
        (pageSelected)="changePage($event)">
    </app-pagination>
</div>