.pagination {
    display: flex;
    justify-content: center;
}

::ng-deep .mat-form-field {
    .mat-input-element {
        color: slategray;
        cursor: pointer;
    }

    .mat-form-field-label {
        color: slategray;
    }

    .mat-form-field-underline {
        background-color: slategray;
    }

    .mat-form-field-ripple {
        background-color: slategray;
    }

    .mat-form-field-required-marker {
        color: slategray;
    }
}