.userRealEstateForm {
    transform: translate(0%,15%);
    width: 80%;
    position: relative;
    margin: auto;
    background-color: lightgray;
    color: rgba($color: black, $alpha: 0.7);
    border-radius: 18px;
    padding: 18px;
  }
  @media (max-width: 350px) {
    .myForm {
      min-width: 90%;
    }
  }
  
  .page-label {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 350;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0px;
    font-weight: 400;
  }
  
td, tr
{
    height: 50px; 
    width: 50px;
}

#cssTable td, tr 
{
    text-align: center; 
    vertical-align: middle;
}