<div>
    <div *ngIf="logs.length != 0" class="row align-items-center justify-content-center" style="margin-top: 2%;">
        <form class="col-2" [formGroup]="searchFormGroup" (keydown.enter)="$event.preventDefault()">
            <div class="align-items-center justify-content-center">
                <mat-form-field class="example-form-field" appearance="fill" style="width: 100%">
                    <mat-label>Search</mat-label>
                    <input id="searchValueInput" matInput type="text" formControlName="searchValue">
                    <button id="clearSearchValue" *ngIf="searchFormGroup.controls['searchValue'].value" matSuffix
                        mat-icon-button aria-label="Clear"
                        (click)="searchFormGroup.controls['searchValue'].setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <small *ngIf="(searchFormGroup.controls['searchValue'].touched || searchFormGroup.controls['searchValue'].dirty) 
                         &&
                       searchFormGroup.controls['searchValue'].errors?.['invalidUsername']">Invalid search input
                </small>
            </div>
        </form>
        <div class="col-2" id="date-form">
            <mat-form-field class="select" appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input id="start" matStartDate formControlName='start' placeholder="Start date" />
                    <label id="start">Start date</label>
                    <input id="end" matEndDate formControlName='end' placeholder="End date" />
                    <label id="end">End date</label>
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker (closed)="changeDate()"></mat-date-range-picker>

                <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')">Invalid start date
                </mat-error>
                <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field appearance="fill">
                <mat-label>Log level</mat-label>
                <mat-select [(value)]="selectedLevel">
                    <mat-option value="all">Any</mat-option>
                    <mat-option value="INFO">Info</mat-option>
                    <mat-option value="WARN">Warning</mat-option>
                    <mat-option value="ERROR">Error</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <button style="margin-bottom:15px;" mat-mini-fab color="warn"
                aria-label="Example icon button with a filter list icon" (click)="filterMessages()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>

    <div class="row" style="margin-top: 20px; margin-left: 7%;">
        <table *ngIf="logs.length != 0" mat-table id="log-table" [dataSource]="dataSource" class="mat-elevation-z8"
            matSort (matSortChange)="announceSortChange($event)">
            <ng-container class="mat-column-timestamp" matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by timestamp">
                    Timestamp</th>
                <td mat-cell *matCellDef="let element"> {{formatDateTime(element.dateTime)}} </td>
            </ng-container>

            <ng-container class="mat-column-logLevel" matColumnDef="logLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by logLevel">
                    Log level</th>
                <td mat-cell *matCellDef="let element"> {{element.logLevel}} </td>
            </ng-container>

            <ng-container class="mat-column-loggerName" matColumnDef="loggerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by loggerName">
                    Logger</th>
                <td mat-cell *matCellDef="let element"> {{element.loggerName}} </td>
            </ng-container>

            <ng-container class="mat-column-message" id="log-table-message-header" matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by message">
                    Message</th>
                <td mat-cell *matCellDef="let element"> {{element.logMessage}} </td>
            </ng-container>

            <ng-container class="mat-column-stackTrace" matColumnDef="stackTrace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stackTrace">
                    Stacktrace</th>
                <td mat-cell *matCellDef="let element"> <button [hidden]="element.stackTrace == null"
                        class="btn trace-button" (click)="stackTraceDialog(element.logMessage, element.stackTrace)">
                        Stack trace
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'make-error': row.logLevel === 'ERROR', 'make-warning': row.logLevel === 'WARN'}">
            </tr>
        </table>
    </div>
    <div *ngIf="logs.length != 0" class="row" style="margin-top: 50px; margin-left: 20px;">
        <app-pagination class='pagination' [totalItems]="totalSize" [pageSize]="pageSize"
            (pageSelected)="changePage($event)">
        </app-pagination>
    </div>

    <div style="text-align: center; text-transform: uppercase;">
        <h2 *ngIf="logs.length == 0"> No logs are found</h2>
    </div>
</div>