<div class="card" style="width: 18rem;" (click)="openDialog()">
    <img class="card-img-top" src="myhome/{{user.profilePhoto}}" alt="Card image cap" width="400" height="350">
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">{{user.firstName}} {{user.lastName}}</h3>
      <p class="card-text"><span style="color: red;">{{user.email}}</span>
          <br>
          Username: {{user.username}}
          <br>
          Role: {{user.role}} 
      </p>
    </div>
</div>