<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);" onclick="return false;">Admin Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/mh-app/admin/users-view'"
            routerLinkActive="active">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'/mh-app/admin/create-real-estate'">Add real
            estate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'/mh-app/admin/real-estates'">Real
            estates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'/mh-app/admin/logs-view'">Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'/mh-app/admin/alarms-view'">Alarms</a>
        </li>
        <li class="nav-item">
          <a [matBadgeHidden]="notSeenCount===0" class="nav-link" matBadge="{{notSeenCount}}" aria-current="page" [routerLink]="'/mh-app/admin/notifications'">
            Notifications
          </a>
        </li>
      </ul>
      <app-header-common></app-header-common>
    </div>
  </div>
</nav>