<div>
    <div class="row p-4 align-items-center justify-content-center">
        <button style="margin-bottom:15px;" mat-mini-fab color="warn"
            aria-label="Example icon button with a filter list icon" (click)="createReport()">
            <mat-icon>description</mat-icon>
        </button>
    </div>
    <div class="col">
        <p style="text-align: center; font-weight: bold; color: red;">Table of messages</p>
        <div class="example-container mat-elevation-z8" style="width: 1000px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                (matSortChange)="announceSortChange($event)">

                <ng-container matColumnDef="deviceName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deviceName">
                        Device Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by timestamp">
                        Timestamp</th>
                    <td mat-cell *matCellDef="let element"> {{element.timestampString}} </td>
                </ng-container>

                <ng-container matColumnDef="messageStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by messageStatus">
                        Message Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.messageStatus}} </td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by message">
                        Message</th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="{'make-panic': row.messageStatus === 'PANIC' }">
                </tr>
            </table>
        </div>
    </div>
    <div *ngIf="deviceMessages.length != 0" class="row" style="margin-top: 50px; margin-left: 50px;">
        <app-pagination class='pagination' [totalItems]="totalSize" [pageSize]="pageSize"
            (pageSelected)="changePage($event)">
        </app-pagination>
    </div>
</div>