<div>
    <mat-form-field appearance="fill">
        <mat-label>Select certificate</mat-label>
        <mat-select [(value)]="selectedAlias">
          <mat-option (click)="changeAlias()" 
          *ngFor="let aliase of aliases" [value]="aliase">{{aliase}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="openModal()" mat-button color="primary">Open certificate</button>
    <button (click)="openModalInvalidateCert()" mat-button color="accent">Invalidate certificate</button>
    <button (click)="checkCertificate()" mat-button color="warn">Check certificate</button>
</div>